:root {
    --txt: rgb(196, 196, 196);
}

* {
    padding: 0px;
    margin: 0px;
    color: var(--txt);
}

.content, .logo {
    display: flex;
    flex-flow: wrap;
}
.content {
    width: 100vw;
    height: 100vh;
}
.logo {
    position: relative;
    height: auto;
    top: 30vh;
    padding: 20px 0;
    gap: 1vw;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.logo img {
    max-height: 64px;
}
.logo-text {
    color: white;
}
.bg-picture {
    background-image: url(./images/image-background.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.right {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgb(0, 26, 23);
    font-size: 20px;
    font-weight: bold;
}
.right > div, form {
    padding-left: 10%;
}
.dummy-text {
    width: 60%;
}
.remote-text {
    margin: 20px 0 60px;
}

.form {
    background-color: rgb(18, 44, 41);
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
.form-title {
    width: 100%;
}
.input {
    display: flex;
    flex-flow: row nowrap;
    width: 40%;
}