@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root {
    --txt: rgb(196, 196, 196);
    --inputColor: rgb(112, 193, 196);
}

* {
    padding: 0px;
    margin: 0px;
    color: var(--txt);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content, .logo {
    display: flex;
    flex-flow: wrap;
}
.content {
    width: 100vw;
    height: 100vh;
}
.logo {
    position: relative;
    height: auto;
    top: 30vh;
    padding: 20px 0;
    gap: 1vw;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.logo img {
    max-height: 64px;
}
.logo-text {
    color: white;
    font-family: 'Aboreto';
}
.bg-picture {
    background-image: url(./images/image-background.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.right {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgb(0, 26, 23);
    font-size: 20px;
    font-weight: bold;
}
.right > div, form {
    padding-left: 5%;
}
.dummy-text {
    width: 60%;
}
.remote-text {
    margin: 20px 0 60px;
}

.form {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.form-title {
    width: 100%;
}
.input {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
}
.input input {
    background-color: rgb(105, 102, 89);
    outline: 1px solid black;
}
input:focus {
    outline: 1px solid red;
}
.submit-btn {
    width: 30%;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(105, 102, 89);
    color: var(--inputColor);
    font-size: large;
    font-weight: bold;
}

.log-in {
    padding-top: 60px;
}
.log-in a {
    color: var(--inputColor);
}